h1 {
  color: maroon;
  font-size: 24pt;
  text-align: center;
  background-color: blanchedalmond;
}

h2 {
  color: darkslategray;
  background-color: rgb(175, 227, 195);
  padding: 10px;
  font-size: 18pt;
  width: 75%;
  border: dashed 5px;
}

h3 {
  color: white;
  font-size: 14pt;
  padding: 5px;
  background-color: rgb(25, 25, 34);
}

.lists {
  display: flex;
  width: 75%;
}

.foodtype {
  padding: 25px;
  border: solid 2px brown;
  margin: 10px;
  width: 33%;
  background-color: gainsboro;
}
